@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

.title {
  font-family: "Satisfy", cursive;
}

mat-sidenav {
  width: 200px;
  padding: 8px;
}

.sidenav-content {
  padding: 8px;
  height: calc(100vh - 64px - 16px);
}

::ng-deep mat-chip {
  background-color: rgba(186, 0, 92, 0.25) !important;
}
