<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
        <a
          mat-list-item
          [routerLink]="item.path"
          #link="routerLinkActive"
          routerLinkActive
          [activated]="link.isActive"
        >
          {{ item.title }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <h1 class="title">{{ title }}</h1>

      <span class="spacer"></span>

      <button
        mat-icon-button
        class="theme-toggle-btn"
        (click)="toggleTheme()"
        [attr.aria-label]="
          isLightTheme ? 'Switch to dark mode' : 'Switch to light mode'
        "
      >
        <mat-icon>{{ isLightTheme ? "dark_mode" : "light_mode" }}</mat-icon>
      </button>
      <button
        matIconButton
        [matMenuTriggerFor]="accountMenu"
        aria-label="Account"
      >
        @if (this.isLoggedIn$ | async) {
          <mat-icon>account_circle</mat-icon>
        } @else {
          <mat-icon>person</mat-icon>
        }
      </button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        @if (this.isLoggedIn$ | async) {
          <button
            mat-menu-item
            (click)="logoutGoogle()"
            aria-label="Logout Google"
          >
            <mat-icon>logout</mat-icon>
            <span>Logout Google</span>
          </button>
        } @else {
          <button
            mat-menu-item
            (click)="loginGoogle()"
            aria-label="Login Google"
          >
            <mat-icon>login</mat-icon>
            <span>Login Google</span>
          </button>
        }
      </mat-menu>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
