<app-main-toolbar></app-main-toolbar>
<div class="app-container">
  <header class="app-header">
    <nav class="main-nav"></nav>
  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a routerLink="/home/welcome">Welcome</a>
    <a routerLink="/dashboard/login">Dashboard</a>
    <a href="mailto:contactus&#64;dealmemostudio.com">Contact</a>
    <a routerLink="/home/privacy" rel="noreferrer">Privacy Policy</a>
    <a routerLink="/home/terms" rel="noreferrer">Terms of Service</a>
  </footer>
</div>
