.type-icon {
  color: #757575;
}

.vertical-center {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.file-icon-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
