<mat-toolbar>
  @if (spreadsheet) {
    <h2>{{ spreadsheet.properties?.title }}</h2>
  } @else {
    <h2></h2>
  }

  <span class="spacer"></span>
  <button
    type="button"
    aria-label="Refresh"
    matIconButton
    (click)="refresh()"
    [disabled]="!(isLoggedIn$ | async)"
    matTooltip="Refresh"
  >
    <mat-icon aria-label="Refresh">refresh</mat-icon>
  </button>
  <button mat-raised-button (click)="drawer.toggle()">Deal Memos</button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    mode="side"
    position="end"
    [(opened)]="isPanelOpen"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <div class="sidenav-header">
      <h2>Deal Memos</h2>
      <button
        type="button"
        aria-label="Close"
        matIconButton
        (click)="drawer.close()"
      >
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </div>
    <p>Select rows to preview the deal memos you can generate.</p>
    @if (this.tagData$ | async; as tagData) {
      <app-tag-data [data]="tagData"></app-tag-data>
    }
  </mat-sidenav>
  <mat-sidenav-content [style.height]="height">
    @if (spreadsheet) {
      <div class="spreadsheet-table-container">
        <mat-tab-group>
          @for (sheet of spreadsheet.sheets; track sheet) {
            <mat-tab label="{{ sheet.properties?.title }}">
              <app-sheet-tab
                [sheet]="sheet"
                (selected)="selectedRows(sheet, $event)"
              ></app-sheet-tab>
            </mat-tab>
          }
        </mat-tab-group>
      </div>
    } @else {
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
