<mat-toolbar color="primary">
  @if (isHandset$ | async) {
  <button
    type="button"
    aria-label="Toggle sidenav"
    matIconButton
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  }
  <a routerLink="/home/welcome" class="title-container">
    <h1 class="title">Deal Memo Studio</h1>
  </a>

  <span class="spacer"></span>

  <button
    mat-icon-button
    class="theme-toggle-btn"
    (click)="toggleTheme()"
    [attr.aria-label]="
      theme === 'light-theme' ? 'Switch to dark mode' : 'Switch to light mode'
    "
  >
    <mat-icon
      >{{ theme === 'light-theme' ? "dark_mode" : "light_mode" }}</mat-icon
    >
  </button>
  <button matIconButton [matMenuTriggerFor]="accountMenu" aria-label="Account">
    @if (this.isLoggedIn$ | async) {
    <mat-icon>account_circle</mat-icon>
    } @else {
    <mat-icon>person</mat-icon>
    }
  </button>
  <mat-menu #accountMenu="matMenu" xPosition="before">
    @if (this.isLoggedIn$ | async) {
    <button mat-menu-item (click)="logoutGoogle()" aria-label="Logout Google">
      <mat-icon>logout</mat-icon>
      <span>Logout Google</span>
    </button>
    } @else {
    <button mat-menu-item (click)="loginGoogle()" aria-label="Login Google">
      <mat-icon>login</mat-icon>
      <span>Login Google</span>
    </button>
    }
  </mat-menu>
</mat-toolbar>
