a.title-container {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  h1.title {
    font-family: "Satisfy", cursive;
  }
}
